.buttons
{
  &__button
  {
    cursor: pointer;

    opacity: .4;

    width: 80px;
    height: 40px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    color: #FFFFFF;

    font-size: 16px;

    &_start
    {
      margin-right: 20px;

      background: #27B664;
    }

    &_stop
    {
      background: #FF497F;
    }

    &_active
    {
      opacity: 1;
    }
  }
}