@mixin mainWrapper
{
  display: flex;
  flex-direction: column;

  width: 80%;
  max-width: 500px;
  margin: 5% auto;
  padding: 10px;

  border: 1px solid #C4C4C4;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

}
