.results
{
  &__last
  {
    &_val
    {
      &_10
      {
        color: #673BB6;
      }

      &_20
      {
        color: #27B664;
      }

      &_100
      {
        color: #EF4779;
      }
    }
  }
}